<div id="tabs-container">
  <div class="filter-tabs active" id="viewed"><a class="filter-link" href="#">Most Viewed</a></div>
  <div class="filter-tabs" id="voted"><a class="filter-link" href="#">Most Voted</a></div>
  <div class="filter-tabs" id="recent"><a class="filter-link" href="#">Most Recent</a></div>
</div>
<div id="question-container">
  <h1 id="question-header">Questions</h1>
  <%if logged_in?%>
    <h4 id="ask-question"><a href="/questions/new">Ask a question!!</a></h4>
  <%end%>
  <%= erb :'questions/_feed'%>
</div>
