<div id="tabs-container">
  <div class="filter-tabs active"><a class="filter-link" href="#">Most Viewed</a></div>
  <div class="filter-tabs"><a class="filter-link" href="#">Most Voted</a></div>
  <div class="filter-tabs"><a class="filter-link" href="#">Most Recent</a></div>
</div>
<div id="question-container">
  <h1 id="question-header">Questions</h1>
  <%if logged_in?%>
    <a href="/questions/new">Ask a question.</a>
  <%end%>
  <%= erb :'questions/_feed'%>
</div>
