body {
  background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("../images/grapevine.jpg");
  background-size: cover;
}

.container {
  margin: 20px auto;
  width: 600px;
  padding: 0px 20px 20px 20px;
  border: 1px dotted black;
}

#question-container{
  position: relative;
  width: 60%;
  margin: 0 auto ;
  background-color: #85274e;
  border-bottom: 3px  solid black;
  border-right: 3px  solid black;
  border-radius: 0px 20px 20px 20px;
}

#homelink {
  text-decoration: none;
  color: green;
}

h1 {
  margin-top: 0px
}

th {
  text-align: left;
}

header {
  text-align: center;
  background-color: #8C001A;
  border-radius: 0px 0px 10px 10px;
}

#nav-bar {
  list-style: none;
  padding-left: 0px;
}

.header-links {
  display: inline-block;
  color: black ;
}

#question-header {
  text-align: center;
}

.question-list {
  display: none;
  text-align: left;
  list-style: none;
  padding: 20px;
}

#question-link {
  text-align: left;
}

.question-body {
  text-align: center;
  margin-bottom: 20px;
}

#tabs-container {
  display: inline;
  margin-left: 20%;
}

.filter-tabs {
  display: inline-block;
  border-right: 3px solid black;
  padding: 5px;
  text-align: center;
  background-color: #3c191d;
  border-radius: 10px 10px 0px 0px;
}

.active {
  background-color: #85274e;
}

.show {
  display: block;
}






