<aside id="primary-aside">
  <section id="section_one">
    <h3 span class="aside-underline rose">Project Creators</h3>
    <h4 class="rose">Leo Kukhar</h4>
    <a href="https://github.com/leokukhar">Leo's Github</a>
    <h4 class="rose">Saralis Rivera</h4>
    <a href="https://github.com/sarariv">Saralis's Github</a>
    <h4 class="rose">Ayaz Uddin</h4>
    <a href="https://github.com/Ayaz2589">Ayaz's Github</a>
    <h4 class="rose">Adam Zmudzinski</h4>
    <a href="https://github.com/Nova840">Adam's Github</a>
    <h4 class="rose">David Walden</h4>
    <a href="https://github.com/d-walden">David's Github</a>
  </section>
  <section id="section_two">
    <h4 class="aside-underline"><span class="aside-underline rose"> Latest Wine Reviews <span> </h4>
  </section>
</aside>
