<!DOCTYPE html>
<html lang="en">
<head>
  <!--
    normalize.css removes cross-browser differences in defaults, e.g.,
    differences in how form elements appear between Firefox and IE
    See: http://necolas.github.com/normalize.css/
  -->
  <link rel="stylesheet" href="/css/normalize.css">
  <!--
    application.css is where you put your styles
  -->
  <link rel="stylesheet" href="/css/application.css">

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="/js/application.js"></script>

  <title></title>
</head>
<body>
  <header>
    <h1>The Wine Spill</h1>
      <ul id="nav-bar">
        <% if logged_in?%>
        <li class="header-links"><a href="/users/<%=current_user.id%>">Your profile, <%=current_user.username%></a></li>
        <li class="header-links"><a href="/logout">Logout</a></li>
        <% else %>
        <li class="header-links"><a href="/users/new">Register</a></li>
        <li class="header-links"><a href="/login">Login</a></li>
        <% end %>
      </ul>
  </header>
  <%= yield %>
</body>
</html>
